@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&display=swap');

// variables
$main-color: #fff;
$second-color: #C298A0;
$darker-second-color: #a87d85;

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// basic utilities
body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    color: $main-color;
}

.wrapper:first-child {
    color: $second-color;
    background-color: $main-color;
}

.title {
    font-family: 'Dancing Script', cursive;
    color: $second-color;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    text-align: left;
    font-size: 2rem;
    color: $second-color;
}

.text {
    width: 100%;
    font-family: 'lato', sans-serif;
    color: #333;
    text-align: justify;
}

.text-footer {
    font-size: 0.8rem;
    text-align: center;
    color: rgb(241, 241, 241);

    @media(min-width: 400px) {
        font-size: 1rem;
    }
}

.bg {
    font-size: 3.5rem;

    @media(min-height: 375px) {
        font-size: 1.5rem;
    }
}

.pdx-1 {
    padding: 0 1rem;
}

.mg-1 {
    margin: 2rem 0;
}

// header
.header {
    .logo {
        width: 4rem;
        height: 4rem;
        margin: 1rem;
        border: 3px solid $second-color;
        border-radius: 50%;
        text-align: center;
        line-height: 4rem;

        @media(min-width: 400px) {
            width: 5rem;
            height: 5rem;
            margin: 1.5rem;
            line-height: 5rem;
        }
    }


    nav {
        ul {
            list-style: none;

            li {
                padding: 2rem 1rem;
            }

            a {
                color: $second-color;
                text-decoration: none;

                padding: 1rem 0;
                transition: .1s ease-in border-bottom;

                &:hover {
                    color: $darker-second-color;
                    border-bottom: 3px solid $darker-second-color;
                }

                @media(min-width: 400px) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}


//hero
.hero {
    height: 50vh;
    background: url(/img/hero-min.jpg); //https://unsplash.com/photos/4nulm-JUYFo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .contact {
        position: absolute;
        width: 40%;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        background-color: rgba(255, 163, 223, 0.5);
        border-radius: 5px;

        * {
            width: 100%;
            margin: 0.5rem;
        }

        display: none;
    }

    h1.title {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 110%;
        left: 0;
    }

}

//about
.about {
    position: relative;
    margin-top: 10rem;

    .img {
        background-color: #333;
        height: 30vh;
        width: 100%;
        background: url(/img/benyamin-bohlouli-LGXN4OSQSa4-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin: 1rem 0;
    }
}

//galerry
.gallery {
    .img-container {
        flex: 1 1 100%;
        padding: 1rem;

        @media(min-width: 600px) {
            flex: 1 1 50%;
        }

        .gallery-img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}

//footer
.footer {
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding-bottom: 1rem;

    .text {
        line-height: 2rem;
        text-align: center;
    }


}

.creator-footer {
    background-color: #333;
    padding: 1rem;





    a {
        color: $second-color;
        text-decoration: none;
    }
}